
body{
	margin:20px;
}

.task1{
	background-color: red;
}

.task2{
	display: inline-block;
	margin:40px;
	box-shadow: 0 0 60px #999;
	width: 100px;
}

.task6{
text-decoration: underline;

}